<p-menu class="menu-side-bar" [model]="items"></p-menu>
<div>

</div>
<!-- <div style="display:flex; justify-content: flex-end;">
  <div class="p-col-12 p-md-6 p-lg-3 p-shadow-12" style="display: flex; justify-content:flex-start; align-items: center; height: 11vh; width: 86vw; padding-left: 2%;">
    <span class="p-input-icon-right p-col-12 p-md-6 p-lg-3 ">
      <div class="input">
        <input type="text" pInputText placeholder="Search for..." class="divInputCor p-col-12 p-sm-3 p-md-3 p-lg-10">
        <i class="pi pi-search " style="color: white; border-bottom-right-radius: 3px;"></i>
      </div>
    </span>
  </div>
</div>
 -->
